---
to: src/components/common/Modal
---
import {h} from 'hyperapp'

import './style.css'

// Trigger css slidein transition
const slideIn = el => {
  el.classList.add('closed')
  void el.clientHeight
  el.classList.remove('closed')
}

// Trigger css slideout transition
const slideOut = (el, done) => {
  el.classList.add('closed')
  setTimeout(done, 300)
}

// Close Button
const Close = ({close}) => (
  <div onclick={close} class="close">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
  </div>
)

// Exported component
export const Modal = ({close, ...rest}, children) => (state, actions) => (
  <div class="modal" key="modal" onclick={close} oncreate={slideIn} onremove={slideOut} {...rest}>
    <div class="box" onclick={ev => ev.stopPropagation()}>
      <Close close={close} />
      <div class="inner">
        {children}
      </div>
    </div>
  </div>
)


/*

// Import
import {Modal} from '../components/common/Modal'


// Usage:

// Toggle via state:

{
  state.exampleModalIsOpened
    ? (
      <Modal close={ev => actions.set({exampleModalIsOpened: false})}>
        <p>Modal content</p>
      </Modal>
    )
    : null
}
<button onclick={ev => actions.set({exampleModalIsOpened: true})}>Open modal</button>



// Toggle via Router:
<Route 
  path='/path-to-modal'
  render={
    <Modal close={ev => actions.location.go('/')}>
      <p>Modal content</p>
    </Modal>
  }
/>
<Link to='path-to-modal'>Open modal</Link>


*/
