/*------------------------------------*\
  Shared utility classes
\*------------------------------------*/

/* Max-width containers */
.container {
  width: 100%;
  max-width: min(480px, 90vw);
  margin: 0 auto;
}

/* Responsive Card grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 1rem;
  margin: 1rem 0;
}

/* Bring attention to some content */
.callout {
  padding: 1em;
  margin: 1rem 0;
  background-color: var(--alt-background-color);
  border-radius: 0.25rem;
  > span[role='img'] {
    display: inline-block;
    margin-right: 0.8em;
  }
}
