/*------------------------------------*\
  Global css
\*------------------------------------*/

/* === Global variables === */
:root {
	--text-color: #525f7f;
	--emphasis-text-color: #2e374d;
	--background-color: #ffffff;
	--alt-background-color: #f7f7f7;
  --accent-color: #6C63FF;
  --alt-accent-color: #4641FF;
  --border-color: #eee;
  --success-color: #06d19c;
  --danger-color: tomato;
}

/* === Default cascade === */
html {
  font-family: 'Open Sans', Arial, sans-serif;
  font-display: swap;
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: opximizeLegibility;
  -moz-font-feature-settings: "liga" on;
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
}

::selection {
	background: var(--accent-color);
	color: var(--background-color);
}
