/*------------------------------------*\
  Global css
\*------------------------------------*/

/* === Global variables === */
:root {
	--background-color: #ffffff;
	--alt-background-color: #f4f4f4;
	--text-color: #121212;
  --accent-color: #0000FF;
  --border-color: #eeeeee;
  --success-color: #06d19c;
  --danger-color: tomato;
}

/* === Default cascade === */
html {
  color: var(--text-color);
  background-color: var(--background-color);
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
}

::selection {
	background: var(--accent-color);
	color: var(--background-color);
}

code {
  display: inline-block;
  background-color: var(--alt-background-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

pre code {
  display: block;
  padding: 1rem;
}
